@*
    
*@
@{
    ViewData["Title"] = "Students List";
}

<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
<div class="btn btn-success">
    <a class=" text-black " asp-controller="Students" asp-action="Create">Create new Student</a>
</div>

<div class="container"> 
    <h3 class="text-primary">Students</h3>
    <hr />
    <table id="StudentsTable" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Identity</th>
                <th>PhoneNumber</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
    <script src="~/js/studentdatatype.js"></script>
}